@import '../../../../styles/_variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: auto;

  @include mobile {
    gap: 24px;
  }

  .row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
      gap: 12px;
    }

    a {
      font-size: 11px;
      color: var(--zinc-500);
      transition: all 0.5s var(--ease-out);

      @include mobile {
        font-size: 12px;
      }

      &:hover {
        color: var(--black);
        transform: translate(4px, 0);
      }
    }
  }
}
